extends layout

block content
	h1 
		a(href= object.link, target='_blank')= object.name

	div(id='video_and_buttons')

		if curr_id > 0
			a.btn.btn-info(href='/'+tag+'/'+(Number(curr_id)-1), id='prev_button', role='button') 
				span.glyphicon.glyphicon-chevron-left
		else
			a.btn.btn-info.disabled(href='/'+tag+'/'+(Number(curr_id)-1), id='prev_button', role='button') 
				span.glyphicon.glyphicon-chevron-left

		iframe(id = 'video_player',
						src = 'https://player.vimeo.com' + object.uri.replace(/videos/, 'video') + 
									'?api=1&player_id=video_player&autoplay=1&color=9600FA',
						frameborder = '0',
						webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

		if curr_id < 44			
			a.btn.btn-info(href='/'+tag+'/'+(Number(curr_id)+1), id='next_button', role='button')
				span.glyphicon.glyphicon-chevron-right
		else
			a.btn.btn-info.disabled(href='/'+tag+'/'+(Number(curr_id)+1), id='next_button', role='button')
				span.glyphicon.glyphicon-chevron-right

	div(id='video_description')


