extends layout

block content
	h1
		a(href= JSON.parse(json)[0].link, target="_blank")= JSON.parse(json)[0].name
	
	div#video_and_buttons
		button.btn#prev_button(role='button' onclick="prevId()")
			span.glyphicon.glyphicon-chevron-left

		iframe#video_player(src = 'https://player.vimeo.com' + JSON.parse(json)[0].uri.replace(/videos/, 'video') + 
															'?api=1&player_id=video_player&autoplay=1&color=9600FA',
						frameborder = '0',
						webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
	
		button.btn#next_button(role='button' onclick="nextId()")
			span.glyphicon.glyphicon-chevron-right


