body {
	background-color: #333;
	h1 {
		margin-top: 60px;
	}
	h1, p {
		left: 60px;
		position: relative;
		color: #FFF;
	}
}

li {
	font-size: 0.7em;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

#logo {
	font-family: Lily Script One;
	font-size: 2em;
	text-transform: lowercase;
	color: rgb(150, 0, 250);
	opacity: 0.8;
	&:hover {
		opacity: 1;
	}
}